<!-- nav holds the top navigation bar -->
<nav>
  <!-- Each item in the navigation bar is contained in a unordered list -->
  <ul>
    <li>
      <a href="/">
        {{ $svg := resources.Get "img/mesh-logo.svg" | resources.Minify }}
        <img src="{{ $svg.Permalink }}" alt="LTU Mesh logotype">
      </a>
    </li>
    {{ range .Site.Menus.main }}
    <li>
      <a href="{{ .URL }}">
        {{ .Name }}
      </a>
      {{ if .HasChildren }}
      <ul>
      {{ range .Children }}
      <li>
        <a href="{{ .URL }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
      </ul>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</nav>
